/* Light mode (por defecto) */
:root {
  /* Backgrounds */
  --background: #ffffff;
  --background-secondary: #f4f5fa;

  /* Text */
  --text-primary: #1f1f1f;
  --text-secondary: #1b42ad;

  /* Borders */
  --border: #1e3a8a;

  /* Brand / Pokémon */
  --brand-yellow: #ffcb05;
  --brand-yellow-soft: #facc15;
  --brand-blue: #3b5caa;

  /* Navigation */
  --nav-link: #1b42ad;
  --nav-icon: #1e3a8a;

  /* Pokémon types */
  --type-grass: #78c850;
  --type-poison: #a040a0;
  --type-fire: #f08030;
  --type-flying: #a890f0;
  --type-water: #6890f0;
}

/* Dark mode */
body[data-bs-theme='dark'] {
  --background: #212631 !important;
  --background-secondary: #212631 !important;

  --text-primary: #f5f5f5;
  --text-secondary: #5f7cbe;

  --border: #3b5caa;

  --brand-yellow: #facc15;
  --brand-yellow-soft: #f3d632;
  --brand-blue: #3b5caa;

  --nav-link: #a5c7ff;
  --nav-icon: #ffd700;

  --type-grass: #78c850;
  --type-poison: #b567ce;
  --type-fire: #f08030;
  --type-flying: #a890f0;
  --type-water: #6890f0;
}

.swal-popup {
  border-radius: 1rem;
  font-family: var(--bs-body-font-family);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.swal-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.swal-text {
  font-size: 0.95rem;
  opacity: 0.9;
}

/* Botón Confirmar */
.swal-confirm {
  background-color: #0d6efd;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
}

/* Botón Cancelar */
.swal-cancel {
  background-color: #6c757d;
  color: #fff;
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  border: none;
}

.modal-header .btn-close {
  display: none !important;
}
.my-pagination .page-link {
  color: #ee0000 ;
  transition: 0.3s;
}

.my-pagination .page-link:hover {
  background: linear-gradient( 135deg, #ee0000 0%, #cc0000 55%, #b30000 100% ) !important;
  color: white;
  border-color: #ee0000;
}

.my-pagination .active .page-link {
  background: linear-gradient( 135deg, #ee0000 0%, #cc0000 55%, #b30000 100% ) !important;
  border-color: #ee0000 ;
  color: white;
}

.my-pagination .disabled .page-link {
  opacity: 0.5;
  cursor: not-allowed;
}

.my-pagination {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}


/* XS: botones más pequeños */
@media (max-width: 576px) {
  .my-pagination::-webkit-scrollbar {
    height: 4px;
  }
  .my-pagination {
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 5px;
    padding-left: 10rem !important;
  }

}

